#root {
  background-color: #222629;
}

.App {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #E4E5E3;
  background-color: #222629;
  min-height: 100vh;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  color: #87CF23
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

textarea:focus, input:focus{
  outline: none;
}

input:-moz-autofill,
textarea:-moz-autofill,
select:-moz-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  -moz-text-fill-color: #2e2d2d !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #2e2d2d !important;
}

.highlight {
  transition: box-shadow 0.3s ease;
}

.highlight:hover {
  box-shadow: 0 2px 12px #8e8e8e; /* Тень */
}

.container {
  width: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4rem;
}
